*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: hsl(240deg, 21%, 20%);
  font-family: "Red Hat Display", sans-serif;
  text-rendering: optimizeSpeed;
  background-color: hsl(0deg, 0%, 98%);
}

html,
body {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.75rem;
}

.overline {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: hsl(192deg, 37%, 48%);
}

.lead {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: hsl(240deg, 10%, 57%);
}

.text-primary {
  color: hsl(192deg, 90%, 77%);
}

.text-secondary {
  color: hsl(268deg, 100%, 86%);
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.625rem;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  transition: 0.3s;
}
.btn-primary {
  background-color: hsl(192deg, 37%, 48%);
}
.btn-primary:hover {
  background-color: #5ba2b3;
}
.btn-secondary {
  background-color: hsl(268deg, 34%, 53%);
}
.btn-secondary:hover {
  background-color: #9f81c1;
}

.number {
  display: inline-block;
  border: 1px solid rgba(134, 134, 156, 0.25);
  border-radius: 50%;
  padding: 0.9375rem 1.1875rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240deg, 10%, 57%);
  background-color: hsl(0deg, 0%, 98%);
  position: relative;
}
.number::before {
  content: "";
  display: block;
  width: 1px;
  height: 84px;
  background-color: rgba(134, 134, 156, 0.25);
  position: absolute;
  top: -84px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.number-1 {
  margin-bottom: 4rem;
  margin-top: 5.25rem;
}
.number-2 {
  margin-top: 3.4375rem;
  top: 1.8125rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(10.25rem, 15.9375rem));
  gap: 1.875rem;
  margin-bottom: 5rem;
}
.gallery__img {
  border-radius: 5px;
  overflow: hidden;
}
.gallery__img :hover {
  transform: scale(1.15);
  filter: grayscale(15);
  transition: 0.5s;
}

.header {
  margin-bottom: 6.875rem;
}
.header__logo {
  margin-top: 5rem;
  margin-bottom: 3.8125rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  background-image: url(../images/desktop/image-hero-left.png), url(../images/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.hero__img {
  display: none;
}
.hero__description {
  max-width: 33.75rem;
  text-align: center;
  margin: 47px 0 7px 0;
}
.hero__description h1 {
  max-width: 28.125rem;
  margin: 0 auto 2.125rem;
}
.hero__description__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.footer {
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../images/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.1875rem 0.625rem 6.25rem;
}
.footer__content {
  max-width: 69.375rem;
  color: hsl(0deg, 0%, 98%);
  display: grid;
  grid-template-columns: 30% 32% auto;
  grid-template-columns: 35% 31% auto;
  align-items: center;
  justify-content: space-between;
}
.footer__content p {
  color: inherit;
}

.section-1 {
  margin-bottom: 4.5rem;
}
.section-1__description {
  max-width: 33.74rem;
  text-align: center;
}
.section-1__description h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  max-width: 28rem;
}

@media screen and (max-width: 75rem) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .lead {
    font-size: 1rem;
  }
  .header {
    margin-bottom: 5rem;
  }
  .header__logo {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .hero {
    background-image: none;
    flex-direction: column;
  }
  .hero__img {
    display: block;
    margin-bottom: 4.5rem;
  }
  .hero__description {
    max-width: 28.125rem;
    margin: 0;
  }
  .hero__description h1 {
    max-width: 21.25rem;
    margin: 0 auto 1.5rem;
  }
  .gallery {
    gap: 0.6875rem;
    margin: 0 2.5rem;
    margin-bottom: 3rem;
  }
  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../images/tablet/image-footer.jpg);
    padding: 5.75rem 1.5rem 4.375rem;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 35.625rem;
  }
  .footer__content p {
    margin: 2rem 0 2.5rem;
    max-width: 35.625rem;
  }
}
@media screen and (max-width: 48em) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .header {
    margin-bottom: 4rem;
  }
  .header__logo {
    margin-bottom: 3.375rem;
  }
  .hero__img {
    margin-bottom: 3rem;
  }
  .hero__description {
    max-width: 20rem;
  }
  .hero__description__buttons {
    flex-direction: column;
    align-items: center;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5625rem;
    margin: 0 1.5rem;
    margin-bottom: 4rem;
  }
  .section-1 {
    margin-bottom: 4rem;
  }
  .section-1__description {
    margin: 0 1.5rem;
  }
  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../images/mobile/image-footer.jpg);
  }
  .footer__content p {
    margin: 1.5rem 0 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
