.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.625rem;
  color: $light;
  text-align: center;
  transition: 0.3s;

  &-primary {
    background-color: $cyan;

    &:hover {
      background-color: lighten($cyan, 5%);
    }
  }

  &-secondary {
    background-color: $purple;

    &:hover {
      background-color: lighten($purple, 10%);
    }
  }
}

.number {
  display: inline-block;
  border: 1px solid rgba($grey, 0.25);
  border-radius: 50%;
  padding: 0.9375rem 1.1875rem;

  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  color: $grey;
  background-color: $light;

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 84px;
    background-color: rgba($grey, 0.25);

    position: absolute;
    top: -84px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }

  &-1 {
    margin-bottom: 4rem;
    margin-top: 5.25rem;
  }

  &-2 {
    margin-top: 3.4375rem;
    top: 1.8125rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(10.25rem, 15.9375rem));
  gap: 1.875rem;

  margin-bottom: 5rem;

  &__img {
    border-radius: 5px;
    overflow: hidden;

    :hover {
      transform: scale(1.15);
      filter: grayscale(15);
      transition: 0.5s;
    }
  }
}
