.footer {
  background-image: linear-gradient(rgba($cyan, 0.8), rgba($cyan, 0.8)),
    url(../images/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 7.1875rem 0.625rem 6.25rem;

  &__content {
    max-width: 69.375rem;
    color: $light;

    display: grid;
    grid-template-columns: 30% 32% auto;
    grid-template-columns: 35% 31% auto;
    align-items: center;
    justify-content: space-between;

    p {
      color: inherit;
    }
  }
}
