@media screen and (max-width: $bp-tablet) {
  //UTILITES
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .lead {
    font-size: 1rem;
  }

  //HEADER
  .header {
    margin-bottom: 5rem;

    &__logo {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
  }

  .hero {
    background-image: none;
    flex-direction: column;

    &__img {
      display: block;
      margin-bottom: 4.5rem;
    }

    &__description {
      max-width: 28.125rem;
      margin: 0;

      h1 {
        max-width: 21.25rem;
        margin: 0 auto 1.5rem;
      }
    }
  }

  //COMPONENTS
  .gallery {
    gap: 0.6875rem;
    margin: 0 2.5rem;

    margin-bottom: 3rem;
  }

  //FOOTER
  .footer {
    background-image: linear-gradient(rgba($cyan, 0.8), rgba($cyan, 0.8)),
      url(../images/tablet/image-footer.jpg);

    padding: 5.75rem 1.5rem 4.375rem;

    &__content {
      display: flex;
      flex-direction: column;
      text-align: center;

      max-width: 35.625rem;

      p {
        margin: 2rem 0 2.5rem;
        max-width: 35.625rem;
      }
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  //UTILITES
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  //   HEADER
  .header {
    margin-bottom: 4rem;

    &__logo {
      margin-bottom: 3.375rem;
    }
  }

  .hero {
    &__img {
      margin-bottom: 3rem;
    }

    &__description {
      max-width: 20rem;

      &__buttons {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  //COMPONENTS
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5625rem;

    margin: 0 1.5rem;
    margin-bottom: 4rem;
  }

  //SECTIONS
  .section-1 {
    margin-bottom: 4rem;

    &__description {
      margin: 0 1.5rem;
    }
  }

  //FOOTER
  .footer {
    background-image: linear-gradient(rgba($cyan, 0.8), rgba($cyan, 0.8)),
      url(../images/mobile/image-footer.jpg);

    &__content {
      p {
        margin: 1.5rem 0 2rem;
      }
    }
  }
}
